.adminButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    width: 100%;
}

    .adminButton:hover {
        opacity: 0.8;
    }